#redesSociais {
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.cardLink {
    width: 13rem;
    border: solid 1px black !important;
}

.headshot {
	flex-shrink: 0;
	margin: 20px;
	/*height: calc(150px + 6vw);
	width: calc(150px + 6vw);*/
	border: calc(8px + 0.2vw) solid transparent;
	background-origin: border-box;
	background-clip: content-box, border-box;
	background-size: cover;
	box-sizing: border-box;
	/*box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);*/
}

.headshot:hover {
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}