html, body {
    min-height: 100vh;
}

body {
    /* background-color: #e6e1e1; */
}

.wrapper {
    min-height: 100vh;
    display: flex;
}


#menuLateral {
    min-height: 100%;
    background-color: #212529;
    width: 30%;
    max-width: 300px;
    border-right: solid 3px slategrey;
    font-family: 'Kdam Thmor Pro', sans-serif;
} 

#menuLateral img {
    border-radius: 50%;
    border: solid 1px white;
}

#menuLateral ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#menuLateral ul li a{
    display: inline-block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: white;
    padding: 10px;
}

#menuLateral ul li a:hover{
    color: darkcyan;
}

.hrMenuLateral {
    height: 1px;
    background-color: whitesmoke;
    margin: 0;
}